body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

header > nav {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    padding: 15px;
    border-bottom: 3px #eee;
    align-items: center;
}

header > nav img {
    width: 100%;
}

main {
    text-align: center;
    padding-top: 70px;
}